{% extends 'base.html.twig' %}

{% block title %}RecipeHasIngredient index{% endblock %}

{% block body %}
    <h1>RecipeHasIngredient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe_has_ingredient in recipe_has_ingredients %}
            <tr>
                <td>{{ recipe_has_ingredient.id }}</td>
                <td>{{ recipe_has_ingredient.quantity }}</td>
                <td>
                    <a href="{{ path('app_recipe_has_ingredient_show', {'id': recipe_has_ingredient.id}) }}">show</a>
                    <a href="{{ path('app_recipe_has_ingredient_edit', {'id': recipe_has_ingredient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recipe_has_ingredient_new') }}">Create new</a>
{% endblock %}
